.lw { font-size: 60px; }

p{font-size: large;
}



#Titre{
text-align: center;
margin-bottom: 10px;}

/* Les boutons de controles */

.containerhorizontal3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lecteur{
    width: 33%;
    text-align: center;
    background-color: whitesmoke
}

#partie1:hover{background-color: gray;}
#partie2:hover{background-color: gray;}
#partie3:hover{background-color: gray;}

#partie1{width:100%;;
padding: 5px;
display: flex;
flex-direction: row;
justify-content: space-around;}

#partie2{width:100%;
padding: 5px;
display: flex;
flex-direction: row;
justify-content: space-around;}

#partie3{width:100%;
padding: 5px;
display: flex;
flex-direction: row;
justify-content: space-around;}


button{
background-color: transparent;
border: 0px solid;
padding-left: 15px; 
padding-right: 15px;}


button:hover{
background-color: whitesmoke; 
border: 0px solid black;
padding-left: 15px; 
padding-right: 15px;
border-radius: 55%;}


/*Overlays*/

.containerhorizontal2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imageoverlay {
}

#overlay1{width: 20%;}


#overlay2{width: 19.2%;}


#overlay3{width: 17.5%; }

/*Les images*/

.containerhorizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lesphotos{
    justify-content: space-around;
}

.image {width: 20%;}
